<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>new review</title>
  <link rel="stylesheet" href="../css/newReview.css" type="text/css" />
</head>
<body>
  <h1 class="title" style="
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 5vh;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:400%;
    color: red;
    "> Mukflix</h1>
    
  <div class="basic-box-center">
    <div class="tool-bar">
      <a href="/">메인 화면으로</a>
      <a href="/shop">포인트 영화관</a>
      <a href="/reviewTable">리뷰 게시판</a>
      <a href="/restaurant">근처 식당</a>
      <% if(login > 0){ %>
      <a href="/mypage">내 정보</a>
      <a href="/logout">로그아웃</a>
      <% }else{ %>
      <a href="/login">로그인</a>
      <% } %>
    </div>
  </div>
  
  <h1 class="title"><%= diner_data.name %> 리뷰 작성하기</h1>
  <form action="/saveComment/<%= diner_data.id %>" method="post" class="save-comment">
    <div class="comment-title">
      <label for="name">제목</label>
      <input type="text" name="title">
    </div>
    <div class="comment-content">
      <label for="name">내용</label>
      <input type="text" name="content">
    </div>
    <button type="submit" class="save-button">제출</button>
  </form>
  <form action="/diner_info/<%= diner_data.id %>">
    <button type="submit" class="back-button">돌아가기</button>
  </form>
</body>
</html>