<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/shop.css">
  <title>Document</title>
</head>
<body>
  <div class="basic-box-center">
    <div class="tool-bar">
      <a href="/">메인 화면으로</a>
      <a href="/shop">포인트 영화관</a>
      <a href="/reviewTable">리뷰 게시판</a>
      <a href="/restaurant">근처 식당</a>
      <% if(login > 0){ %>
      <a href="/mypage">내 정보</a>
      <a href="/logout">로그아웃</a>
      <% }else{ %>
      <a href="/login">로그인</a>
      <% } %>
    </div>
  </div>

  <h1>포인트 영화관</h1>

  <h2># 영화 목록</h2>
  <div class="product-list">
    <% for(let i=0; i<products.length; i++){ %>
        <a class="product-box" href="/shop">
          <div class="product-img"><img src="../img/product.jpg" alt="product"></div>
          <div class="product-info">
            <div class="product-name"> <%= products[i].name %> </div>
            <div class="product-price"> 가격 : <%= products[i].price %> 포인트</div>
            <hr style="width : 90%; height: 1px;">
            <div class="product-comment"> 설명 : <%=products[i].comment %></div>
          </div>
        </a>
    <% } %>
  </div>
</body>
</html>